@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;  
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: #2a2a72;
  color: #fff;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  padding: 1rem;
  display: block;
  background-color: #4c2885;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #bbb;
}

.user-form input:focus {
  outline: none;
}

.card {
  min-width: 800px;
  padding: 3rem;
  margin: 0 1.5rem;
  display: flex;
  background-color: #4c2885;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);  
}

.avatar {
  height: 150px;
  width: 150px;
  border: 10px solid #2a3a72;
  border-radius: 50%;  
}

.user-info {
  margin-left: 2rem;
  color: #eee;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  min-width: 400px;
  padding: 0;  
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  background-color: #2a2a72;
  color: #fff;
  font-size: 0.7rem;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 400px;
  }
}