@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;  
}

body { 
  height: 100vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Muli', sans-serif;
}

.text {
  text-transform: uppercase;
}

.logo {
  width: 150px;
}

.nav-btn {
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav.visible {
  transform: translateX(0); 
}