@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;600&display=swap');

:root {
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
}

* {
  box-sizing: border-box;  
}

body {
  margin: 40px;  
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-family: 'Montserrat', sans-serif;
  background-color: #3494e4;
  color: #fff;
}

h1 {
  margin: 10px 0 0;
}

h3 {
  margin: 10px 0;
  font-weight: 400;  
}

.cup {
  width: 150px;
  height: 330px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;  
  background-color: #fff;  
  color: var(--border-color);
  border: 4px solid var(--border-color);
  border-radius: 0 0 40px 40px;  
  overflow: hidden;
}

.cup.cup-small {
  width: 50px;
  height: 95px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0 0 15px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease;
}

.cup.cup-small.full {
  background-color: var(--fill-color);
  color: #fff;
}

.cups {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.remained {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease;
}

.remained span {
  font-size: 20px;
  font-weight: bold;
}

.remained small {
  font-size: 12px;
}

.percentage {
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: 30px;
  font-weight: bold;
  background-color: var(--fill-color);
  transition: 0.3s ease;
}

.text {
  margin: 0 0 5px;
  text-align: center;
}